terraform/ecr/.terraform/providers/
terraform/ecr/.terraform/providers/registry.terraform.io/hashicorp/aws/4.8.0/darwin_arm64/terraform-provider-aws_v4.8.0_x5
terraform/iam/.terraform/providers/
terraform/iam/.terraform/providers/registry.terraform.io/hashicorp/aws/4.8.0/darwin_arm64/terraform-provider-aws_v4.8.0_x5
terraform/service/.terraform/providers/
terraform/service/.terraform/providers/registry.terraform.io/hashicorp/aws/4.8.0/darwin_arm64/terraform-provider-aws_v4.8.0_x5
terraform/vpc/.terraform/providers/
terraform/vpc/.terraform/providers/registry.terraform.io/hashicorp/aws/4.8.0/darwin_arm64/terraform-provider-aws_v4.8.0_x5
./API/source/.env
./API/source/.env
./API/source/aws.env
./API/log/access.log
./API/log/access.log
./API/log/error.log
./API/log/error.log
./.key_pair/*
Frontend/ssl/*
API/environment/local/ssl/*
docker/aws/ssl/*
