/*font-family*/
p,h1,h2,h3,h4,h5,span,div,tr,th,td{
    font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Sans",YuGothic,"游ゴシック","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
}
.p-news-list__item__data__date,
.p-news-list__item__data__category{
    font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Sans",YuGothic,"游ゴシック","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
}
.cursive,
.newarticletitle{
    font-family: 'Caveat', cursive;
}
/*font-family*/

/*text-decoration*/
a,
a:hover{
    text-decoration: none;
}
/*text-decoration*/

textarea::-webkit-scrollbar-thumb,
.modalinnercover > div[class^="modal"]::-webkit-scrollbar-thumb{
    box-shadow: none;
}
.l2rem{
    width:2rem;
    height: 2rem;
    line-height: 2rem;
}
.sccheduleplusbutton{
    margin-top: 0.2rem;
}

/*color*/
a,
#sortmenu > div{
    color: black;
}

a:hover{
    color:#0069d9;
}

.LoginTitle{
    color: #fff;
}

.BgAccentMain:hover,
.mainfontcolor{
    color: #0069d9;
}
.red{
    color: red;
}
#AccountArea{
    color: rgb(75, 75, 75, 1);
}
.font-gray{
    color:rgb(75, 75, 75, 1);
}
.font-light-gray{
    color: lightgray;
}
.cbutton:hover,
.notificationtitle{
    color: #0069d9;
}
.BgAccentMain{
    color:#fff;
}
.FontAccent,
.PageNow{
    color: rgb(255, 183, 90, 1);
}
input[type='file'] {
    color: transparent;
}
/*color*/

/*background*/
.adduserbuton:hover,
.existingusernow:hover,
.addeduserbuton:hover,
.inportbutton{
    background:rgb(18, 53, 134, 1);
}

.backtotopbutton{
    background:#0069d9;
}

.adduserbuton,
.existingusernow,
.addeduserbuton{
    background:rgb(255, 183, 90, 1);
}

.bgmain,
.LoginTitle{
    background: #0069d9;
}
.articlewrapper,
.bgbase{
    background:rgb(24, 71, 182, 0.1);
}

.cbutton:hover{
    background:rgb(0, 0, 0, 0.05);
}
.modalcover_open{
    background:rgb(0, 0, 0, 0.5);
}

.SortAreaishidde,
.BgAccentMain,
.BgAccentColor:hover,
#selectincharge{
    background:#0069d9;
}
.SortAreaisshow,
.BgAccentMain:hover,
.BgAccentColor,
#AccountArea,
#selectincharge:hover{
    background:rgb(255, 183, 90, 1);
}
#AccountArea:hover{
    background:#0069d9;
}
.inchargeinner,
.cbutton,
.sidebar_menu,
h3:not(.notificationtitle),
.modalinnercover > div[class^="modal"]::-webkit-scrollbar-track{
    background:#fff;
}

.inchargeinner:hover,
.inchargemenu{
    background:#F2F2F2;
}
.p-news-list__item__data:before{
    background: #e7e7e7;
}
.p-news-list__item__data__line{
    background: #c6cccc;
}
textarea::-webkit-scrollbar-thumb,
.modalinnercover > div[class^="modal"]::-webkit-scrollbar-thumb{
    background: #aaa;
}
.p-news-list__item__data:after,
.p-news-list__item__data:hover > .p-news-list__item__data__date + .p-news-list__item__data__line{
    background:#1f3134;
}
.bgreen{
    background: #ececec;
}
.LoginmodalOutside{
    background:#f0f2f5;
}
.tabledivleft{
    background: rgb(0, 0, 0, 0.1);
}
.menulink:hover{
    background: rgb(24, 71, 182, 0.3);
}
.bg-brightgray{
    background: rgb(0, 0, 0, 0.1);
}
.sortelem{
    background:rgb(1, 1, 1, 0);
}
.sortelem:hover{
    background:rgb(0, 0, 0, 0.2);
}
.mycolor{
    background: rgb(24, 71, 182, 0.1);
}
.PageNow{
    background: rgba(0, 0, 0, 0.03);
}

.bgstripe45deg{
    background: rgba(0, 0, 0, 0.03);
}

.csvmodalcoveropen,
.csvmodalcoverclose{
    background:rgb(0, 0, 0, 0.5);
}

.calenderBtn{
    //background: url("@/assets/PlusButtonGray.png") no-repeat;
    background: url("@/assets/PlusButtonWhite.png") no-repeat;
    //border: solid 0.5px #0069d9;
    background-color: #0069d9;
    border:none;
    color:white;
    //transform: scale(1.0);
}
.calenderBtn:hover{
    background: url("@/assets/PlusButtonWhite.png") no-repeat;
    //border: none;
    background-color: rgb(255, 183, 90);
    color:white;
    //transform: scale(1.1);
}
.calenderBtn,
.calenderBtn:hover{
    background-size: 70% 70%;
    background-position: 50% 50%;
}

.calenderBtn,
.calenderBtn:hover{
    transition: all 0.5s;
}
.bg-check{
    background-image: linear-gradient( 
        -90deg,
        rgba(0, 0, 0, 0.025) 45%,
        transparent 45%),
        linear-gradient(
        rgba(24, 71, 182, 0.05) 45%, 
        transparent 45%);
}
.bg-check{
    background-size: 5px 5px;
}
/*background*/

/*border*/
.b-none,
textarea::-webkit-scrollbar-track,
.modalinnercover > div[class^="modal"]::-webkit-scrollbar-track{
    border: none;
}
/*.menulink,
.menulink:hover,*/
.PagenationPreviousButton{
    border-left: solid 3px #0069d9;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.border-top-left-radius-1rem{
    border-top-left-radius: 1rem;
}
.border-bottom-left-radius-1rem{
    border-bottom-left-radius: 1rem;
}
.border-top-right-radius-1rem{
    border-top-right-radius: 1rem;
}
.border-bottom-right-radius-1rem{
    border-bottom-right-radius: 1rem;
}
//input[type="text"]:not(.searchbar):not([name="deadlinebeginyear"]),
.b-gray{
    border: solid 0.5px rgb(0, 0, 0, 0.2);
}
textarea{
    border: solid 1px rgb(0, 0, 0, 0.3);
}
.bordergray{
    border: solid 1px rgb(125, 125, 125, 1);
}
.accountpersonicon{
    border: solid 1px #fff;
}
.loginborder{
    border: 1px solid rgba(29,28,29,.3);
}
.bb{
    border-bottom: solid 1px rgb(24, 71, 182, 0.03);
}
.bbgray{
    border-bottom: solid 1px lightgray;
}
.BottomMshadow > div:not(last-child){
    border-right:solid 1px #ffff;
}
.borderleftgray{
    border-left: solid 1px rgb(125, 125, 125, 1);
}
.br5px,
#AccountArea,
textarea::-webkit-scrollbar-thumb,
.modalinnercover > div[class^="modal"]::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-track,
.modalinnercover > div[class^="modal"]::-webkit-scrollbar-track{
    border-radius: 5px;
}
.calenderBtn,
.accountpersonicon,
.br-50{
    border-radius: 50%;
}
#AccountArea{
    box-shadow: 0 0.08rem 0.16rem 0 rgb(0 0 0 / 13%), 0 0.03rem 0.06rem 0 rgb(0 0 0 / 11%);
}
/*border*/

/*font-size*/
.font8{
    font-size:8px;   
}
.font10{
    font-size: 10px;
}
.font12{
    font-size: 12px;
}
.font16{
    font-size: 16px;
}
.font18{
    font-size: 18px;
}
.font24{
    font-size: 24px;
}
.dashboardnemue > div > .smallfont{
    font-size: 0.8rem;
}
.p-news-list__item__data__date,
.p-news-list__item__title,
.p-news-list__item__data__category{
    font-size: 1rem;
}
.sidemenu{
    font-size:1.25rem;
}
.font1-3{
    font-size:1.3rem;
}
/*font-size*/

/*font-weight*/
.p-news-list__item__data__date{
    font-weight: 400;
}
.p-news-list__item__title{
    font-weight: 500;
}
.p-news-list__item__data__category{
    font-weight: 600;
}
/*
.PageNow{
    font-weight:bold;
}*/
/*font-weight*/

/*padding*/
.accountpersonicon{
    padding: 0.2rem;
}
/*padding*/

/*margin*/
div[class^="Modal"]{
    margin-bottom: 4rem;
}
/*margin*/

/*letter-spacing*/
.p-news-list__item__data__date{
    letter-spacing: 1px;
}
.p-news-list__item__title{
    letter-spacing: 1.54px;
}
.p-news-list__item__data__category{
    letter-spacing: 1.8px;
}
/*letter-spacing*/

/*height*/
.p-news-list__item__data:before,
.p-news-list__item__data:after{
    height: 1px;
}
.calenderBtn{
    height:15px;
}
.p-news-list__item__data__line{
    height: 24px;
}

.iconimg{
    height: 1em;
}
.searchicon{
    height:1.5rem;
}
.hbwrapper,
input.fileinput,
.tablediv,
.cbutton{
    height: 2.5rem;
}
.clipicon{
    height: 3.5rem;
}

.csvmodalcoveropen,
.csvmodalcoverclose,
.logoutmodalcover,
#sidebar{
    height: 100%;
}
/*.schedulearea,*/
.schedulespdic{
    min-height:2rem;
}
.csvmodalclose{
    height: 100vh;
}
.schedulespdic{
    max-height:8rem;
}
.inchargemenu{
    max-height:20rem;
}
/*height*/

/*line-height*/
.lh1rem,
.iconimg{
    line-height: 1em;
}
.buttonicon{
    line-height: 2rem;
}
.fileinput,
.tablediv,
.cbutton{
    line-height: 2.5rem;
}
.line-3rem{
    line-height: 3rem;
}
/*line-height*/

/*margin*/
.p-news-list__item__title{
    margin-top: 13px;
}
.p-news-list__item__data__date,
.p-news-list__item__data__line{
    margin-right: 19px;
}
.margin-right-two{
    margin-right: calc(100% - 8rem);
}
/*margin*/

/*width*/
.p-news-list__item__data__line{
    width: 1px;
}
.calenderBtn{
    width:15px;
}
textarea::-webkit-scrollbar,
.modalinnercover > div[class^="modal"]::-webkit-scrollbar{
    width: 12px;
}
.orangepenicon{
    width:1rem;
}
.sccheduleplusbutton{
    width:0.7rem;
}
.searchicon{
    width:1.5rem;
}
.cbutton,
.hbwrapper{
    width: 2.5rem;
}
.clipicon{
    width: 3.5rem;
}
.buttonicon{
    width: 4rem;
}
.sbwrapper{
    width:10rem;
}
.searchbar{
    width:calc(100% - 2.5rem);
}
.p-news-list__item__data:before,
.p-news-list__item__data:after,
.LoginmodalOutside,
.logoutmodalcover,
.logoutmodal,
.csvmodalcoveropen,
.csvmodalcoverclose{
    width: 100%;
}

.newestarticle{
    width: 100vw;
}
.newestarticle .p-news-list__item {
    width: auto;
}

.buttonarea{
    max-width: 20rem;
}
.schedule_datearea{
    min-width:4rem;
}
/*width*/

/*resize*/
textarea{
    resize: none;
}
/*resize*/

/*opacity*/
.p-news-list__item__data:after,
.logoutmodalcover,
.logoutmodal,
.BacktoPrevButtonMoveRight,
.sbhidden,
.wrapperop0,
.AlertShowHide,
.op0,
.csvmodalclose,
.csvmodalcoveropen,
.csvmodalcoverclose{
    opacity: 0;
}
.op02{
    opacity: 0.2;
}
.p-news-list__item__data__date,
.op04{
    opacity: .4;
}
.modal_open,
.modalcover_open,
.p-news-list__item__data:before,
.p-news-list__item__data:hover:after,
.p-news-list__item__data:hover > .p-news-list__item__data__date,
.is-invasion:not(.no-fade), .is-invasion .parent-observe,
.sbshow,
.wrapperop1,
.AlertShow,
.csvmodalcoveropen,
.op1{
    opacity: 1;
}
/*opacity*/

/*z-index*/
.csvmodalclose,
.csvmodalcoveropen,
.csvmodalcoverclose{
    z-index: 0;
}

.zm1,
.logoutmodalcover,
.logoutmodal,
.sbhidden,
.inchargewrapperclose,
.wrapperZm1,
.loadinghidden{
    z-index:-1;
}
.z1,
.scheduleinnerselector,
.p-news-list__item__data:after,
.LoginTitle,
.notificationtitle,
.inchargemenu,
.loadingshow{
    z-index: 1;
}
.sbshow,
#dashboardnemue{
    z-index:2;
}
#BacktoPrevButton,
.z3,
.hbwrapper,
.inchargewrapperopen{
    z-index: 3;
}
.modalcover_open{
    z-index:4;
}
.modal_open{
    z-index:5;
}
.csvmodalcoveropen{
    z-index: 6;
}
.csvmodalopen{
    z-index: 7;
}
/*z-index*/

/*overflow*/
.newestarticle,
#dashboardnemue,
.p-news-list__item__title{
    overflow: hidden;
}
#csvmodal,
textarea,
.schedulespdic,
.inchargemenu{
    overflow: scroll;
}
.scrollunset{
    overflow: unset;
}

#sidebar{
    overflow-x: scroll;
}
body{
    overflow-y: auto;
}
.loginmodalisopen{
    overflow-y: hidden;
}
/*overflow*/

/*box-shadow*/
.LoginFormWrapper,
/*.menulink,*/
.sidebar_menu,
.inportbutton,
.BgAccentMain,
.BgAccentColor,
.tabledivwrapper{
    box-shadow: 0 0.16rem 0.36rem 0 rgb(0, 0, 0, 0.13), 0 0.03rem 0.09rem 0 rgb(0, 0, 0, 0.11);
}
/*.menulink:hover,*/
.sidebar_menu:hover,
.inportbutton:hover,
.backtotopbutton:hover,
.BgAccentMain:hover
.BgAccentColor:hover{
    box-shadow: 0px 2px 2px 0px rgb(0, 0, 0, 0.2);
}
#scheduleinnerselector,
.inchargemenu{
    box-shadow: 0px 1px 2px 0px rgb(0, 0, 0, 0.2);
}
.yearvalselector,
.inchargemenu > div{
    box-shadow: 0px 1px 2px 0px rgb(0, 0, 0, 0.5);
}
.shadowgrid{
    box-shadow: 0 0 0.1rem 0 rgb(0, 0, 0, 0.13), 0 0.1rem 0.1rem 0 rgb(0, 0, 0, 0.11);
}
.gridinside{
//    box-shadow: 0 0 0.1rem 0 rgba(0, 0, 0, 0.13), 0 0.05rem 0.2rem 0 rgba(0, 0, 0, 0.11);
    box-shadow: 0 0 0.1rem 0 rgba(0, 0, 0, 0.13), 0 0rem 0.3rem 0 rgba(0, 0, 0, 0.11);
}
.BottomMshadow{
    box-shadow: 1.5px 0px 1.5px 1.5px rgb(0, 0, 0, 0.1);
}
#PagenationArea{
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1) inset;
}
/*
#maincolumn{
    box-shadow: 0px 0px 10px 0.05px rgba(0, 0, 0, 0.1) inset;
}*/
/*box-shadow*/

/*text-shadow*/
.shadowtext{
    text-shadow: 1px 1px 0px rgb(0, 0, 0, 0.4);
}
/*text-shadow*/

/*top, left, right, bottom*/

.clipicon{
    top: -0.8rem;
}
.hbwrapper,
.logoutmodalcover,
.logoutmodal,
.csvmodalcoveropen{
    top:0;
}
#BacktoPrevButton{
    top: calc((100% - 1rem) / 2);
}
.schedulemodal{
    top: calc((100% - 5rem) / 2);
}
.AlertShowHide,
.AlertShow{
    top:2.3rem;
}
.sbshow{
    top:2.5rem;
}
.csvmodalclose,
.csvmodalcoverclose{
    top: 100%;
}
.right0,
.hbwrapper,
#PagenationArea{
    right: 0;
}
.clipicon{
    right: 0.5rem;
}
.calenderBtn{
    right:5px;
}
.left0,
.modalinnercover,
.p-news-list__item__data:before,
.p-news-list__item__data:after,
.sbwrapper,
#csvmodalcover{
    left: 0;
}
.scheduleinnerselector{
    left:5rem;
}
.bottom0,
.p-news-list__item__data:after,
.p-news-list__item__data:before,
.modalfinishbuttonwrapper,
#PagenationArea{
    bottom: 0;
}
.calenderBtn{
    bottom:5px;
}
/*top, left, right, bottom*/

/*position*/
.p-news-list__item__data:before,
.p-news-list__item__data:after{
    position: absolute;
}
.csvmodalcoveropen,
.csvmodalcoverclose{
    position: fixed;
}
/*position*/

/*display*/
.p-news-list__item__data{
    display: -webkit-box;
}
.p-news-list__item__data{
    display: flex;
}
#sidebar::-webkit-scrollbar {
    display:none;
}
/*display*/

/*cursor*/
.cursor{
    cursor: pointer;
}
/*cursor*/

.pointernone{
    pointer-events: none;
}

.sccheduleplusbutton{
    pointer-events: none;
}

/*content*/
.p-news-list__item__data:before,
.p-news-list__item__data:after{
    content: '';
}
/*content*/

/*white-space*/
.AccountArea{
    white-space: nowrap;
}
/*white-space*/

/*align-items*/
.p-news-list__item__data{
    align-items: center;
}
/*align-items*/

/*-webkit*/
.p-news-list__item__data{
    -webkit-box-align: center;
}
.p-news-list__item__title{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
/*-webkit*/

/*transition*/
.p-news-list__item__data{
    -webkit-transition: .4s;
}

.p-news-list__item__data,
.p-news-list__item__title{
    transition: .4s;
}
.is-invasion:not(.no-fade), .is-invasion .parent-observe{
    -webkit-transition: opacity .5s ease-in,-webkit-transform 1s;
    transition: opacity .5s ease-in,-webkit-transform 1s;
    transition: transform 1s,opacity .5s ease-in;
    transition: transform 1s,opacity .5s ease-in,-webkit-transform 1s;
}
.inchargeinner,
.inchargeinner:hover,
#selectincharge,
#selectincharge:hover{
    transition: all 0.2s;
}
.p-news-list__item__data > .p-news-list__item__data__date,
.p-news-list__item__data:hover > .p-news-list__item__data__date,
.p-news-list__item__data:after,
.p-news-list__item__data:hover:after,
.p-news-list__item__data__line,
.p-news-list__item__data:hover > .p-news-list__item__data__date + .p-news-list__item__data__line,
.sidebar_menu:hover,
.sidebar_menu,
.menulink,
.menulink:hover,
.inportbutton,
.inportbutton:hover,
.BgAccentColor,
.BgAccentColor:hover,
.AccountArea,
.AccountArea:hover,
.logoutmodalcover,
.logoutmodal,
.modalcover_open,
.modal_open,
.status_rotate,
.accounticon,
#AccountArea,
#AccountArea:hover,
.csvmodalopen,
.csvmodalclose,
.csvmodalcoveropen,
.csvmodalcoverclose,
.modalinnercover,
.BgAccentColor:hover,
.BgAccentColor,
.BgAccentMain,
.BgAccentMain:hover,
.SortAreaishidde,
.SortAreaisshow,
.SortAreaishidde > img,
.SortAreaisshow > img,
.cbutton,
.cbutton:hover,
.inchargemenuopen,
.inchargemenuclose{
    transition: all 0.25s;
}

.adduserbuton:hover,
.adduserbuton,
.existingusernow:hover,
.existingusernow,
.addeduserbuton:hover,
.addeduserbuton,
.sbhidden,
.sbshow,
.sortelem,
.sortelem:hover,
.cbutton,
.cbutton:hover,
#delete_date_area,
.AlertShowHide,
.AlertShow,
.op0,
.op02,
.op04,
.op1{
    transition:all 0.5s;
}
.inchargemenu{
    left:0;
    top:2.5rem;
}
.inchargemenuopen{
    opacity: 1;
}
.inchargemenuclose{
    pointer-events: none;
    opacity:0;
}

.BacktoPrevButtonMoveRight,
.BacktoPrevButtonMoveLeft{
    transition: all 1s;
}
.p-news-list__item__data:after {
    -webkit-transition: opacity .2s,-webkit-transform .2s cubic-bezier(.79,.17,.15,.96);
    transition: opacity .2s,-webkit-transform .2s cubic-bezier(.79,.17,.15,.96);
    transition: transform .2s cubic-bezier(.79,.17,.15,.96),opacity .2s;
    transition: transform .2s cubic-bezier(.79,.17,.15,.96),opacity .2s,-webkit-transform .2s cubic-bezier(.79,.17,.15,.96);
}
/*transition*/

/*transform*/
.p-news-list__item__data:after{
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
}
.p-news-list__item__data:hover:after{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.is-invasion:not(.no-fade), .is-invasion .parent-observe{
    -webkit-transform: none!important;
    transform: none!important;
}
.status_rotate {
    transform: scale(1, -1);
}
.rotate-left15{
    transform: rotate(-15deg);
}
.SortAreaishidde > img{
    transform: rotate(0deg);
}
#delete_date_area:hover,
.SortAreaisshow > img{
    transform: rotate(180deg);
}
/*transform*/

/*object-fit*/
.object-cover{
    object-fit: cover;
}
/*object-fit*/

/*animation*/
.newestarticle .p-news-list__item {
    animation: loop 5s linear infinite;
}
/*animation*/
#loadingicon {
    animation: rotate-anime 2s linear infinite;
}
/*keyframes*/
/*@keyframes loop {
    0% {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}*/
@keyframes rotate-anime {
    0%  {
        transform: rotate(0);
    }
    100%  {
        transform: rotate(360deg);
    }
}
/*keyframes*/

input[name="dateorder"]:checked + label{
    color:#fff;
    background:#0069d9;
}
input[name="newtore"]:checked + label{
    color:#fff;
    background:rgb(24, 100, 112, 1);
}

/*チェックボックス関連*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*Page styles*/
.boxes {
  margin: auto;
  padding: 50px;
}
/*チェックボックス関連*/
@media (min-width: 768px){
    .csvmodalopen,
    .csvmodalclose{
        left: calc((100% - 45rem) / 2);
        width: 45rem;
    }
    .BacktoPrevButtonMoveRight{
        left: 9.5rem;
    }
    .BacktoPrevButtonMoveLeft{
        left: 10.5rem;
    }
    /*background*/
    #sidebar{
        background: rgb(0, 0, 0, 0.03);
    }
    .sidebar_menu:hover{
        background:rgb(24, 71, 182, 0.3);
    }
    .bg-md-check{
        background-image: linear-gradient( 
            -90deg,
            rgba(0, 0, 0, 0.025) 45%,
            transparent 45%),
            linear-gradient(
            rgba(24, 71, 182, 0.05) 45%, 
            transparent 45%);
    }

    .bg-md-check{
        background-size: 5px 5px;
    }
    /*background*/
    .AccountArea{
        font-size: 0.65rem;
    }
    div[class*="CalBg"]{
        font-size: 1.5rem;
    }
    div[class*="CalBg"]{
        font-weight: bold;
    }
    .font-lg-10{
        font-size: 10px;
    }
    .font-lg-12{
        font-size: 12px;
    }
    .font-lg-16{
        font-size: 16px;
    }
    #DayArea > div > div:not(#SortArea){
        display:inline-block;
    }
    .hbwrapper{
        display: none;
    }

    .accounticon{
        width:1.25em;
    }
    .sidebaricon{
        width:2.5em;
    }
    .shadowwrapper{
        width:calc(100% - 3rem);
        max-width:45rem;
    }
    .notificationarea,
    .rmwrapper,
    .logoutmodal{
        width:30rem;
    }
    #sidebar{
        max-width:10rem;
    }
    #Loginmodal,
    #menuarea > div{
        min-width:30rem;
    }
    .maincolumn{
        width: calc(100% - 10rem);
    }
    /*.p-news-list__item__data{
        height: 30px;
    }*/
    .accountpersonicon{
        height: 2rem;
    }
    .sidebaricon{
        height:2.5em;
    }
    .accounticon{
        height:1.25em;
    }
    .logoutmodal{
        margin:10rem calc((100% - 30rem) / 2) 0 calc((100% - 30rem) / 2);
    }
    #sidebar{
        position:fixed;
    }
    .dashboardnemue{
        box-shadow: 0px 2px 2px 0px rgb(0, 0, 0, 0.2);
    }
    .b-md-gray{
        border:solid 1px rgb(0, 0, 0, 0.2);
    }
    .sbhidden{
        top:1rem;
    }
    .csvmodalopen{
        top: 2rem;
    }
}

@media (min-width: 992px){
    .shadowwrapper{
        width:calc(100% - 10rem);
        max-width:55rem;
    }
    .BacktoPrevButtonMoveRight{
        left: 11.5rem;
    }
    .BacktoPrevButtonMoveLeft{
        left: 12.5rem;
    }
}
@media (max-width: 768px){
    /*color*/
    .sidebar_menu:hover{
        color:#ffff;
    }
    /*color*/

    /*border*/
    .status_open > .hbar{
        border-bottom: solid 2px #0069d9;
    }
    .hbwrapper > .hbar{
        border-bottom: solid 2px #ffff;
    }
    .hbwrapper > .barrotate{
        border-bottom: solid 2px #0069d9;
    }
    /*border*/

    /*background*/
    .hbwrapper,
    .sidebar_menu:hover,
    #humburgerbutton{
        background: #0069d9;
    }
    
    div#humburgerbutton.status_open{
        background:#ffff;
    }
    .sidecolor{
        background:rgb(0, 0, 0, 0.5);
    }
    /*background*/

    /*display*/
    .p-news-list__item__data,
    .sideiconinnertxt{
        display:inline-block;
    }
    .p-news-list__item__data__line,
    #DayArea > div > div:not(#SortArea):not(#sortmenuwrapper){
        display:none;
    }
    /*display*/

    .accountpersonicon{
        width: 1.25rem;
    }
    .sidebaricon,
    .accounticon{
        width:2em;
    }
    .sidebaricon{
        width:3.5em;
    }
    .logoutmodal{
        width:90%;
    }
    .p-news-list__item__data,
    .LoginFormWrapper{
        width:100%;
    }
    .sidebaricon,
    .accounticon{
        height:2em;
    }
    .sidebaricon{
        height:3.5em;
    }
    .accountpersonicon{
        height: 1.25rem;
    }
    #dashboardnemue{
        margin-top:2.5rem;
    }
    #sidebar > div:nth-child(1){
        margin-top:2rem;
    }
    .logoutmodal{
        margin:10rem 5% 0 5%;
    }
    .sidebar{
        position: fixed;
    }
    .sbhidden{
        top:-2rem;
    }
    .sbshow,
    .dashboardnemue{
        top: 0;
    }
    .hbwrapper > .hbar:nth-child(1){
        top: 0.5rem;
    }
    .hbwrapper > .hbar:nth-child(2){
        top: calc(((2.5rem - 6px) / 6)*3 + 2px);
    }
    .hbwrapper > .hbar:nth-child(3){
        top: calc(2rem - 2px);
    }
    .hbwrapper > .barrotate:nth-child(1),
    .hbwrapper > .barrotate:nth-child(3){
        top: 1.25rem;
    }
    .csvmodalopen{
        top: 2rem;
    }
    .sidebar{
        left: -100%;
    }
    .sidebaropen{
        left: 0;
    }
    .hbwrapper > .hbar:nth-child(1),
    .hbwrapper > .hbar:nth-child(2),
    .hbwrapper > .hbar:nth-child(3){
        left:12.5%;
    }
    .hbwrapper > .barrotate:nth-child(2){
        left: -100%;
    }
    .sidebar,
    .dashboardnemue{
        z-index: 3;
    }
    .hbwrapper{
        box-shadow:0px 2px 2px 0px rgb(0, 0, 0, 0.2);
    }
    .hbwrapper{
        overflow: hidden;
    }
    .hbwrapper > .barrotate:nth-child(1){
        transform: rotate(405deg);
    }
    .hbwrapper > .barrotate:nth-child(3){
        transform: rotate(-585deg);
    }
    .sidebar,
    .sidebaropen,
    .hbwrapper > .hbar:nth-child(1),
    .hbwrapper > .hbar:nth-child(2),
    .hbwrapper > .hbar:nth-child(3){
        transition: all 0.5s;
    }
    .maincolumn{
        width:100%;
    }
    .csvmodalopen,
    .csvmodalclose{
        width: 90%;
        left: 5%;
    }
    .p-news-list__item__data__date{
        font-size:0.7rem;
    }
    h3:not(.notificationtitle){
        font-size:1.2rem;
    }
    .notificationtitle{
        font-size:1.3rem;
    }
    .sidebar{
        cursor: pointer;
    }
    .orangepenicon{
        padding: 2px;
    }
}